@use "../base.scss";

.file-tables {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 0;
  height: 48px;

  background: base.$second-color;

  user-select: none;

  overflow-x: auto;
  overflow-y: auto;
  white-space: nowrap;
  position: relative;
  &::-webkit-scrollbar {
    height: 4px;
    background-color: base.$second-color;
  }

  &::-webkit-scrollbar-thumb {
    background-color: base.$primary-color-hover;
  }
  .file-table {
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 160px;
    min-width: 160px;
    height: 100%;
    padding: 0px 12px;

    cursor: pointer;
    box-shadow: -1px 0px base.$primary-color;
    background-color: base.$second-color;

    .file-title {
      flex-grow: 1;

      @include base.CN-Article-Title;
      color: base.$text-white-color;
    }

    .icon {
      width: 24px;
      height: 24px;
      background: url("../static/close.svg");
      opacity: 0;
      transition: opacity 0.2s;

      &.save {
        opacity: 1;
        background: url("../static/target.svg");

        &:hover {
          background-color: base.$primary-color-80;
          background-image: url("../static/close.svg");
          transition: all 0.2s;
        }
      }
    }

    &:hover {
      .icon {
        width: 24px;
        height: 24px;
        opacity: 1;
        transition: opacity 0.2s;
      }
    }

    &.active {
      background-color: base.$primary-color-hover;

      .icon {
        opacity: 1;
        transition: all 0.2s;
      }
    }
  }
}
