@use "./base";

div {
  font-family: base.$font-stack;
}

#app {
  display: flex;
  flex-direction: row;
  overflow: hidden;

  .left-panel {
    flex-grow: 0;

    display: flex;
    flex-direction: column;

    // max-width: 280px;
    width: 240px;
    min-width: 240px;
    height: 100vh;
    background-color: base.$gray-tint-color-2;
  }

  .right-panel {
    flex-grow: 1;
    width: calc(100% - 240px);

    display: flex;
    flex-direction: column;

    .new-file-tips {
      margin-top: 72px;
      display: flex;
      justify-content: center;
      font-size: 32px;
      color: gray;
    }
  }
}
